{
  "parser": "babel-eslint",
  "extends": ["react-app", "prettier"],
  "env": {
    "es6": true
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": [
      "error",
      {
        "allow": ["log", "warn", "error"]
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "import/no-unresolved": ["off"]
  }
}
